:root {
  --blue: #2563eb;
  --dark-blue: #1e3a8a;
  --text: #0f172a;
  --light: #f8fafc;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: var(--text);
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

/* NAVBAR */
.navbar {
  background: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.logo-box {
  display: flex;
  font-size: 30px;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  color: var(--dark-blue);
}

.logo-box img {
  width: 40px;
  height: 40px;
}

/* BUTTON */
.btn-primary {
  background: var(--blue);
	align-self: flex-start;
  color: #fff;
  font-size: 23px;
  padding: 12px 22px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
}

/* HERO */
.hero {
  position: relative;
  height: 850px;
  background: url("images/hero-bg.jpg") center/cover no-repeat;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(255,255,255,0.75);
}

.hero-content {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero h1 {
  font-size: 52px;
  margin-bottom: 20px;
}

.hero ul {
  font-size: 25px;
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.hero li {
  margin-bottom: 10px;
}

/* SERVICES */
.services {
  padding: 70px 0;
  background: var(--light);
}

.services h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

.service-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 30px;
}

.card {
  background: #fff;
  font-size: 20px;
  padding: 30px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.6);
}

.card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

/* SHARED SPACING */
.section-title {
  margin-bottom: 12px;
}

.section-subtitle {
  margin-bottom: 40px;
  color: #475569;
}

/* FLEET */
.fleet {
  position: relative;
  height: 750px;

  background-image: url("images/fleet-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;

}

.fleet::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255,255,255,0.8);
}

.fleet .container {
  font-size:20px;
  position: relative;
}


.fleet-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  gap: 20px;
}

.fleet-gallery img {
  width: 100%;
  border-radius: 14px;
}

/* CONTACT */
.contact {
  padding: 80px 0;
  position: relative;

  background-image: url("./images/contact-bg.jpg");
  background-size: cover;
  background-position: bottom;
}

.contact::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255,255,255,0.75);
}

.contact .container {
  position: relative;
}


/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  font-size: 14px;
}

/* MOBILE */
@media(max-width: 768px) {
  .hero h1 {
    font-size: 30px;
  }

  .hero {
    height: 420px;
  }
}

/* CONTACT DETAILS */
.contact-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.contact-details {
  margin-top: 20px;
}

.contact-details div {
  margin-bottom: 8px;
  font-size: 20px;
}

.contact-text {
  font-size:20px;
}

/* ORANGE BUTTON */
.btn-orange {
  background: #f97316;
  color: white;
  font-size:20px;
  padding: 14px 26px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 500;
  white-space: nowrap;
}

/* MOBILE CONTACT */
@media (max-width: 768px) {
  .contact-grid {
    flex-direction: column;
    text-align: center;
  }
}

